.guts {
    width: 90%;
    height: 90%;
    display: grid;
    grid-gap: 2% .5%;
    grid-template-columns: 52% 3% 52%;
    grid-template-rows: 48% 2% 48%;
}
.panel { width: 100%; border-width: thin; border-style: solid; }
.panel h2 { text-align: center; margin: 0; }
.panel > div { height: 45%; width: 100%; border: none; }
.panel pre { overflow: scroll; margin: 0; }
#shexc-to-shexj { position: relative; top: 50%; }
#shexj-to-form {  }
#data-to-form { position: relative; top: 50%; }
#start-shape-span { float: right; }
#focus-node-span {  }
#form { display: table; }
#form div { width: -webkit-fill-available; padding-right: .4em; }
.panel > .shape { border: none; }
.shexc { border-color: blue; }
.shexj { border-color: green; }
.shape { border: thin solid black; display: table; }
.shape h3 { margin: 0; padding-left: .3em; }
.shape + .shape { margin-top: .5em; }
.separator { list-style-type: none; margin-left: -1.1em; }
.disjunction { display: inline-block; border-left: medium solid grey; margin-left: -1.8em; }
.disjunction999 { display: inline-block; border: thick solid #ddd; margin-left: -1.8em; border-left-style: dashed; border-right: none; }
.disjunction > ul li { margin-left: -1em; }
.add { color: darkgreen; }
.shape .error { border: thin solid red; }
.top > * { display: inline; height: 1.5em; padding-right: .5em; }
h1 { margin: 0; }
.shape input, .shape select { margin-left: 1em; padding: .2em 0.4em; border: none; background-color: antiquewhite; min-width: 14em; }
input[readonly] { background-color: lightgrey; }
#form ul { margin: 0; }
#form li { line-height: 2em; }
#form hr { /* margin-left: -1.8em; */ border:none; border-top:thin dashed #ddd; height:1px; }

.tryit {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
    padding: 0 .2em;
}
.tryit:active {
    border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}
.tryable {
    position: relative;
    z-index: 1;
}
.tryit {
    position: absolute;
    z-index: 3; /* put .gold-box above .green-box and .dashed-box */
    //right: -5px;
    //top: -1.5ex;
    right: 0;
    top: -0.5ex;
    font-size: small;
}
.tryit a {
    color: #00e;
    border: none;
}

.tryit a:visited {
    color: #551A8B;
}

.top img { float: left; }
.top h1 { float: left; }

ul.manifest {
 padding:0;
 margin:0;
 list-style-type:none;
 }
.manifest li {
 margin-left:2px;
 float:left; /*pour IE*/
 }
ul.manifest li button {
    float:left;
    font-size: .7em;
    padding: 0em 2ex;
    border-radius: .5em;
    border: thin solid #000;
    cursor: pointer;
    box-shadow: 0.1em 0px 1em rgba(255, 255, 255, 0.9) inset;
}

ul.manifest li button.selected {
    /* background-color: #e8e8ff; */
    background-color: #c8e8ff;
    color: #000000;
}
ul.manifest li button:hover {
 /* background-color:#D3D3D3; */
 border-color:#696969 #DCDCDC #DCDCDC #696969;
}

#schemaFormat {
    font: inherit;
    border: none;
    background-color: inherit;
}

        .ace_shapeExprLabel { background-color: #fff0c0; }
        .ace_shapeExprRef { line-height: 1.7ex; vertical-align: top; border-bottom: .3ex solid #dfd0a0; }
        .ace_tripleExprLabel { background-color: #f0c0ff; }
        .ace_tripleExprRef { line-height: 1.7ex; vertical-align: top; border-bottom: .3ex solid #d0a0df; }
        .ace_annotation { line-height: 1.7ex; vertical-align: top; border-bottom: .3ex solid #c7d7e0; }
        .ace_escape { font-weight: bold; }
